<div class="section-header"><%= title %></div>
<div class="post-feed">
  <% posts.each do |post| %>
  <article class="post-card">
    <a class="post-card-content" href="/<%= post.slug %>">
      <div class="title"><%= post.title %></div>
      <span class="post-timestamp"><%= post.date_formatted %></span>
      <section class="body">
        <%= post.preview.gsub(?<, '&lt;').gsub(?>, '&gt;') %>
      </section>
      <section class="category">
        <%= post.category %>
      </section>
    </a>
  </article>
  <% end %>
</div>