<!-- General site layout file -->

<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8"/>
  <meta name="description" content="<%= Website.config_info[:site_desc] %>"/>
  <link rel="shortcut icon" href="/pictures/icons/favicon.ico">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Ubuntu|Nunito">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/post.css">
  <link rel="stylesheet" href="/css/form.css">
  <link rel="stylesheet" href="/css/navbar.css">
  <link rel="stylesheet" href="/css/post_feed.css">
  <link rel="stylesheet" href="/css/social_icons.css">
  <title><%= "#{Website.config_info[:site_name]} | #{page_name}" %></title>
  <script src="/javascript/dropdown.js"></script>
  <script src="/javascript/special_buttons.js"></script>
</head>

<body>
  <header>
    <div class="wrapper">
      <a class="navbar-title" href="/"><%= Website.config_info[:site_name] %></a>
      <nav class="navbar">
        <a class="navbar-link" href="/">Home</a>
        <a class="navbar-link" href="/archive">Archive</a>
        <% if admin %>
        <div class="navbar-dropdown" id="admin-tab">
          <button class="navbar-link">
            Admin
            <div class="navbar-dropdown-content" id="admin-tab-content">
              <a href="/new_post">New Post</a>
              <a href="/admin-logout">Log Out</a>
            </div>
          </button>
        </div>
        <% end %>
      </nav>
    </div>
  </header>
  <main class="wrapper">
    <%= yield %>
  </main>
  <footer>
    <div class="wrapper">
      <div class="social-icons">
        <a href="https://linkedin.com/in/pjpollina">
          <svg class="linkedin"><use xlink:href="/pictures/icons/social_icons.svg#linkedin"/></svg>
        </a>
        <a href="https://github.com/pjpollina">
          <svg class="github"><use xlink:href="/pictures/icons/social_icons.svg#github"/></svg>
        </a>
        <a href="/feed.rss">
          <svg class="rss" ><use xlink:href="/pictures/icons/social_icons.svg#rss"/></svg>
        </a>
      </div>
      <p style="text-align: center;">&copy; <%= Time.now.year %> PJ Pollina</p>
    </div>
  </footer>
</body>
</html>