<!-- HTML template for blog homepage -->

<!DOCTYPE html>
<html>
<head>
  <meta charset='UTF-8'/>
  <link rel="icon" type="image/png" sizes="32x32" href="/icons/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/icons/favicon-16x16.png">
  <link rel="shortcut icon" href="/icons/favicon.ico">
  <link rel="stylesheet" href="/css/style.css">
  <title><%= @page_name + ' | Home'%></title>
</head>

<body>
  <header class="site-header" role="banner">
    <div class="fancy-wrapper">
      <a class="site-title" href='/'><%= @page_name %></a>
      <nav class="site-navigator">
        <a class="page-link" href='/archive'>Archive</a>
        <a class="page-link" href='/new_post'>New Post</a>
      </nav>
    </div>
  </header>
  <main>
    <div class="fancy-wrapper">
      <h1 class="post-list-header">Recent Posts</h1>
      <ul class="post-list">
        <% recent_posts.each do |post| %>
        <li>
          <a class="post-link" href=<%= "'/#{post['post_slug']}'" %>><%= post['post_title'] %></a>
          <div class="post-timestamp">Posted <%= post['post_timestamp'].strftime('%m/%d/%Y') %></div>
        </li>
        <% end %>
      </ul>
    </div>
  </main>
</body>
</html>