<h2 class="section-header">Category: <%= cat.name %></h2>
<div style="text-align: center;"><%= cat.desc %></div>
<div class="post-feed">
  <% cat.posts.reverse_each do |post| %>
  <article class="post-card">
    <a class="post-card-content" href="/<%= post[:post_slug] %>">
      <div class="title"><%= post[:post_title] %></div>
      <span class="post-timestamp"><%= post[:post_timestamp].strftime('%B %d, %Y') %></span>
      <section class="body">
        <%= post[:post_preview] %>
      </section>
      <section class="category">
        <%= cat.name %>
      </section>
    </a>
  </article>
  <% end %>
</div>