<!-- HTML template for blog homepage -->

<!DOCTYPE html>
<html>
<head>
  <meta charset='UTF-8'/>
  <link rel="icon" type="image/png" sizes="32x32" href="/icons/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/icons/favicon-16x16.png">
  <link rel="shortcut icon" href="/icons/favicon.ico">
  <title><%= PAGE_NAME + ' | Home'%></title>
</head>

<body>
  <h1><%= PAGE_NAME %></h1>
  <h3>Recent Posts</h3>
  <ul>
  <% @recent_posts.each do |post| %>
    <li><a href=<%= "'/#{post['post_slug']}'" %>><%= post['post_title'] %></a> Posted <%= post['post_timestamp'].strftime('%m/%d/%Y') %></li>
  <% end %>
  </ul>
  <h4><a href='/archive'>Archive</a></h4>
</body>
</html>